<div class="card bg-primary-subtle">
    <div class="card-body">
        <h4 class="card-title">Países</h4>
        <div>
            <input type="text" [(ngModel)]="busqueda" (keyup)="filtrarLista()" class="form-control pe-5" name="Buscar"
                id="iBuscar" aria-describedby="Buscar" placeholder="">
            <fa-icon [icon]="faMagnifyingGlass" style="position: relative; top: -2rem; left: 9.5rem;"></fa-icon>
        </div>
        <div class="container-paises">
            <div *ngFor="let bandera of misPaises">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between"
                        aria-current="true" [value]="bandera.name.common" (click)="clickPais(bandera.name.common)">
                        <span class="me-1">{{bandera.name.common}}</span>
                        <img [src]="bandera.flags.svg" class="my-auto border border-1" style="max-height: 1rem;">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>